<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('parts/title') %>
      <!----===== Box CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
       
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('parts/nav3') %>


  <main>

	<!-- ABOUT -->
	<div id="about">
		<div class="contain">
			<div class="img">
				<img src="logo2.png" alt="Image">
			</div>
			<div class="text">
				<h3>About us</h3>
				<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Deserunt alias maxime ullam beatae, eius, impedit aspernatur error expedita dicta! Impedit.</p>
				<a href="/stats" class="btn-outline">Check Stats</a>
			</div>
		</div>
    
	</div>
	<!-- ABOUT -->
    


    <p class="copyright">
      &copy; 2022 - <span>META DEV</span> All Rights Reserved.
    </p>
  </main>

  <script src="app.js"></script>
</body>

</html>