<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Rudra Divine</title>
  <meta name="title" content="Rudra Divine">
  <meta name="description" content="Rudra Divine">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./logo.png" type="image/png">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/style.css">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#">
        <img src="/logo.png" width="70" height="70" alt="Metalink home" class="logo-small">
        <img src="/logo.png" width="126" height="28" alt="Metalink home" class="logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link label-lg link:hover">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link label-lg link:hover">About Us</a>
          </li>

          <li>
            <a href="/admin" class="navbar-link label-lg link:hover">Admin</a>
          </li>


        </ul>
      </nav>

      <div class="header-action">


        <button class="nav-toggle-btn" aria-label="menu toggle" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true" class="default-icon"></ion-icon>

          <ion-icon name="close-outline" aria-hidden="true" class="active-icon"></ion-icon>
        </button>

      </div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <h1 class="headline-lg hero-title">
            Mesmerizing <span class="span">Radiance</span> in Every Creation
          </h1>
          <p class="section-text body-lg">
            Search our products below and discover greatness!
          </p>
          <form action="/search" method="GET">
<div class="center">
<div class="input-group">
    <input type="text" class="input" id="number" name="number" placeholder="Serial Number" autocomplete="off">
    <input class="button--submit" value="Search" type="submit">
</div>
</div>
            </form>
        </div>
      </section>





      <!-- 
        - #Our COLLECTION
      -->

      <section class="section top-collection" aria-labelledby="collection-label">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="headline-md section-title text-center" id="collection-label">Our Collection</h2>

            <a href="#" class="btn-link link:hover">

          </div>

          <div class="slider" data-slider>

            <ul class="slider-container" data-slider-container>

             <li class="slider-item">
                <div class="collection-card card">

                  <figure class="card-banner img-holder" style="--width: 500; --height: 650;">
                    <img src="/gems1.png" width="500" height="500" loading="lazy"
                      alt="Animations Collection" class="img-cover">
                  </figure>

                  <div class="card-content">


                    <h3 class="title-md card-title">
                      <a href="#" class="">Brilliance</a>
                    </h3>


                  
                  </div>

                </div>
              </li>
             <li class="slider-item">
                <div class="collection-card card">

                  <figure class="card-banner img-holder" style="--width: 500; --height: 650;">
                    <img src="/gems2.png" width="500" height="500" loading="lazy"
                      alt="Animations Collection" class="img-cover">
                  </figure>

                  <div class="card-content">


                    <h3 class="title-md card-title">
                      <a href="#" class="">Rarity</a>
                    </h3>


                  
                  </div>

                </div>
              </li>
             <li class="slider-item">
                <div class="collection-card card">

                  <figure class="card-banner img-holder" style="--width: 500; --height: 650;">
                    <img src="/gems3.png" width="500" height="500" loading="lazy"
                      alt="Animations Collection" class="img-cover">
                  </figure>

                  <div class="card-content">


                    <h3 class="title-md card-title">
                      <a href="#" class="">Luster</a>
                    </h3>


                  
                  </div>

                </div>
              </li>
             <li class="slider-item">
                <div class="collection-card card">

                  <figure class="card-banner img-holder" style="--width: 500; --height: 650;">
                    <img src="/gems4.png" width="500" height="500" loading="lazy"
                      alt="Animations Collection" class="img-cover">
                  </figure>

                  <div class="card-content">


                    <h3 class="title-md card-title">
                      <a href="#" class="">Durability</a>
                    </h3>


                  
                  </div>

                </div>
              </li>
             <li class="slider-item">
                <div class="collection-card card">

                  <figure class="card-banner img-holder" style="--width: 500; --height: 650;">
                    <img src="/gems5.png" width="500" height="500" loading="lazy"
                      alt="Animations Collection" class="img-cover">
                  </figure>

                  <div class="card-content">


                    <h3 class="title-md card-title">
                      <a href="#" class="">Transparency</a>
                    </h3>


                  
                  </div>

                </div>
              </li>

            </ul>

            <button class="slider-btn prev" aria-label="Slide to previous item" data-slider-prev>
              <ion-icon name="chevron-back-sharp" aria-hidden="true"></ion-icon>
            </button>

            <button class="slider-btn next" aria-label="Slide to next item" data-slider-next>
              <ion-icon name="chevron-forward-sharp" aria-hidden="true"></ion-icon>
            </button>

          </div>


        </div>
      </section>





      <!-- 
        - #What we offer at rudra divine
      -->

      <section class="section discover" aria-labelledby="discover-label">
        <div class="container">

          <h2 class="headline-md section-title text-center" id="discover-label">What We Offer At Rudra Divine</h2>

          <ul class="grid-list">

            <li>
              <div class="discover-card card">

                <div class="card-banner img-holder" style="--width: 500; --height: 500;">
                  <img src="/offer1.png" width="500" height="500" loading="lazy"
                    alt="Image" class="img-cover">

                  <button class="btn btn-primary">
                    <ion-icon name="flash" aria-hidden="true"></ion-icon>

                    <span class="span">View More</span>
                  </button>
                </div>



                <h3 class="title-sm card-title">
                  <a href="#" class="">Skilled crafts man</a>
                </h3>

                <div class="card-meta">

                  <div>
                  

                    <div class="card-price">
                      <span class="span">Rudra Divine, a renowned gemstone company, boasts a team of skilled gemologists and craftsmen</span>
                    </div>
                  </div>

                </div>

              </div>
            </li>
            
            <li>
              <div class="discover-card card">

                <div class="card-banner img-holder" style="--width: 500; --height: 500;">
                  <img src="/offer2.png" width="500" height="500" loading="lazy"
                    alt="Image" class="img-cover">

                  <button class="btn btn-primary">
                    <ion-icon name="flash" aria-hidden="true"></ion-icon>

                    <span class="span">View More</span>
                  </button>
                </div>



                <h3 class="title-sm card-title">
                  <a href="#" class="">Research Endeavors at Rudra</a>
                </h3>

                <div class="card-meta">

                  <div>
                  

                    <div class="card-price">
                      <span class="span">Gemstones: Unleashing the Timeless Allure, Enigmatic Beauty, and Unparalleled Rarity that Transcends Imagination.</span>
                    </div>
                  </div>

                </div>

              </div>
            </li>
            
            <li>
              <div class="discover-card card">

                <div class="card-banner img-holder" style="--width: 500; --height: 500;">
                  <img src="/offer3.png" width="500" height="500" loading="lazy"
                    alt="Image" class="img-cover">

                  <button class="btn btn-primary">
                    <ion-icon name="flash" aria-hidden="true"></ion-icon>

                    <span class="span">View More</span>
                  </button>
                </div>



                <h3 class="title-sm card-title">
                  <a href="#" class="">Personal Connection</a>
                </h3>

                <div class="card-meta">

                  <div>
                  

                    <div class="card-price">
                      <span class="span">
Connect with us today to embark on your gem journey with personalized guidance and exceptional service!</span>
                    </div>
                  </div>

                </div>

              </div>
            </li>
            
            <li>
              <div class="discover-card card">

                <div class="card-banner img-holder" style="--width: 500; --height: 500;">
                  <img src="/offer4.png" width="500" height="500" loading="lazy"
                    alt="Image" class="img-cover">

                  <button class="btn btn-primary">
                    <ion-icon name="flash" aria-hidden="true"></ion-icon>

                    <span class="span">View More</span>
                  </button>
                </div>



                <h3 class="title-sm card-title">
                  <a href="#" class="">Iso Certification</a>
                </h3>

                <div class="card-meta">

                  <div>
                  

                    <div class="card-price">
                      <span class="span">
Boost your reputation with ISO-certified gems. Our ISO certification guarantees quality and customer satisfaction.</span>
                    </div>
                  </div>

                </div>

              </div>
            </li>


          </ul>

          

        </div>
      </section>

    </article>
  </main>






  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#">
            <img src="/logo.png" width="126" height="28" loading="lazy" alt="Metalink home">
          </a>

          <p class="body-md footer-text">
           Elevate Your Elegance with Radiant Diamonds: Rudra Divine, Where Brilliance Meets Perfection.
          </p>

        </div>


        <ul class="footer-list">

          <li>
            <p class="title-lg footer-list-title">Useful Links</p>
          </li>


          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward"></ion-icon>

              <span class="span">Terms & Condition</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward"></ion-icon>

              <span class="span">Privacy policy</span>
            </a>
          </li>

        </ul>

        <div class="footer-list">



          <ul>

            <li>
              <p class="title-lg footer-list-title">Contact Details</p>
            </li>

            <li class="footer-list-item">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

              <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=contact@shreerudradivine.com" target="_blank" class="footer-link">contact@shreerudradivine.com</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="body-md text-center copyright">
          &copy; 2023 Rudra-divine.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-to-top btn-icon" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <div class="body-bg-shape"></div>





  <!-- 
    - custom js link
  -->
  <script src="/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>