  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="footer-top section">
    </div>
    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright Ξᴛʜᴀɴ#9632 2023. All rights reserved.
        </p>

      </div>
    </div>

  </footer>

