  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="logocr.png" width="185" height="31" alt="Vegga home">
          </a>

          <p class="footer-text">
            As a gems dealer, we handle sought-after gemstones like diamonds, rubies, emeralds, and sapphires, which hold significant value globally.
          </p>

        </div>

<br>
        <div class="social-wrapper">

          <p class="h3 social-list-title">Join Us</p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-dribbble"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-behance"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright Ξᴛʜᴀɴ#9632 2023. All rights reserved.
        </p>

      </div>
    </div>

  </footer>

